body,
html {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-image: url(header.jpg);
	background-repeat: no-repeat;
    background-size: 100% 100%;
  
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.line{
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 3em;
	margin-bottom: 200px
}

#brnText {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-primary {
	background-color: #AA6639;
	border: white;
	position: relative;
	top: 0px;

}

.btn-primary:hover {
	background-color: #D4946A;
}

